## Xcode
#
# gitignore template for Xcode programs
#
# Full list: https://github.com/github/gitignore/blob/main/Swift.gitignore

# Xcode Temporary & Build Files
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/xcode

# CocoaPods
# Pods/
# Podfile.lock

# macOS
.DS_Store
*.swp
*~
